<%- include('../../libs/html/util-m/header', {
title: '关于火星基地',
description: '火星基地',
keywords: '火星基地',
plugin: [''],
private: ['../css/public.css', '../css/agreement.css']
}) %>

<div class="agreement">
    <h6>关于火星基地</h6>
    <p>火星基地是火星系客户生态权益通证，让用户价值在火星系各个产品间跨界流通，实现价值自由流转。</p>
    <p>用户通过火星基地可以邀请好友入驻或者完成指定任务来增加自己在火星基地上的价值，这个价值通过“探力值”来表现，该数值可以直接转化为“探钻”的能力，即探力越大，探钻能力越大，收获的蓝钻（火星基地的数字资产，总量有限）数越多，蓝钻可以在火星基地生态内进行消费和兑换，不得直接与法定货币兑换，不可直接买卖，或用于其他违反中国法律的用途。</p>
</div>
<%- include('../../libs/html/util-m/footer', {
plugin: [''],
private: ['../js/download.js'],
statistics: ''
}) %>
