<%- include('../../libs/html/util-m/header', {
title: '火星基地APP下载',
description: '火星基地',
keywords: '火星基地',
plugin: [''],
private: ['../css/public.css', '../css/download.css']
}) %>

<div class="download">
    <div class="download-cont">
        <div class="down-icon"><img src="../img/icon.png" alt=""><h6>火星基地APP</h6></div>
        <div class="down-decorate1"><img src="../img/decorate4.png" alt=""></div>
        <div class="down-decorate2"><img src="../img/decorate5.png" alt=""></div>
        <a class="down-btn">下载APP</a>
        <div class="down-describe">收获蓝钻，创建火星基地，让你的数字价值流动起来！</div>
    </div>
    <div class="Android-hint"><img src="../img/and-hint.png" alt=""></div>
</div>
<%- include('../../libs/html/util-m/footer', {
plugin: [''],
private: ['../js/download.js'],
statistics: ''
}) %>
