<%- include('../../libs/html/util-m/header', {
title: ' 增加探力',
description: '火星基地',
keywords: '火星基地',
plugin: [''],
private: ['../css/public.css', '../css/mission.css']
}) %>

<div class="mission">
    <div class="mission-banner"><img src="../img/mission-banner.jpg" alt=""></div>
    <div class="mission-title1">每日任务加速</div>
    <div class="mission-list">
        <ul>
            <!-- <li>
                <p class="task-text"><font><img src="../img/decorate-3.png" alt=""></font>每日登录火星<span class=" ">+5</span></p>
                <p class="accomplish-state"><span class="">已完成</span><font></font></p>
            </li> -->
        </ul>
    </div>
    <div class="mission-title1">超级加速</div>
    <div class="mission-column">
         <!--<div class="column-list list1"><a href="./command.html"><font><img src="../img/invite.png" alt=""></font><h6>邀请好友</h6><p class="describe">剩余邀请权：<span>50</span></p></a></div>
        <div class="column-list list2"><font><img src="../img/xiaoqing.png" alt=""></font><span class="hot"><img src="../img/hot.png" alt=""></span><h6>小青AI音箱</h6><p class="describe">50蓝钻+100探力</p></div>
        <div class="column-list list3"><font><img src="../img/huoxing-app.png" alt=""></font><h6>火星财经APP</h6><p class="describe">已加速<span>+50</span></p></div>-->
    </div>
</div>
<%- include('../../libs/html/util-m/footer', {
plugin: [''],
private: ['../js/mission.js', '//static.mars-station.hellozhibo.com/assets/layer.js'],
statistics: ''
}) %>
